<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
  <tr>
    <td nowrap="nowrap" class="bannerleft"><img src="images/spacer.gif" width="169" height="70" class="titlespacer" alt="" /><img src="images/title_left.gif" width="32" height="25" class="titleleft" alt="" /></td>
    <td width="100%" class="bannermiddle"><img src="images/title_right.gif" width="252" height="25" class="titleright" alt="" /></td>
    <td class="bannerright"><img src="images/symbol2.gif" width="49" height="70" alt="" /></td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0">
  <tr>
      <td class="shadowleft"><img src="images/spacer.gif" height="6" alt="" /></td>
	  <td width="100%" class="shadowright"><img align="right" src="images/shadright.gif" height="6" alt="" /></td>
  </tr>
  <tr>
    <td nowrap="nowrap" class="wholecontents">
    <table border="0" cellspacing="0">
      <tr>
        <td nowrap="nowrap" class="lefthead">About GHC</td>
      </tr>
      <tr>
        <td nowrap="nowrap" class="contents">
        <table class="contentstbl">
          <tr>
            <td nowrap="nowrap">
            <a href="/">Home</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="license.html">License</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="http://haskell.org/haskellwiki/GHC">
            Documentation</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="http://hackage.haskell.org/trac/ghc/blog">
            Blog</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="http://haskell.org/haskellwiki/GHC:FAQ">
            FAQ</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="download.html">
            Download</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="http://hackage.haskell.org/trac/ghc/wiki/ReportABug">
            Report a bug</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="http://hackage.haskell.org/trac/ghc/newticket?type=feature+request">
            Request a feature</a></td>
          </tr>
<!--
          <tr>
            <td nowrap="nowrap">
            <a href="http://hackage.haskell.org/trac/ghc/query?status=new&status=assigned&status=reopened&type=task&order=priority">
            Task list</a></td>
          </tr>
-->
          <tr>
            <td nowrap="nowrap">
            <a href="http://hackage.haskell.org/trac/ghc/">
            Developers (Wiki)</a></td>
          </tr>
          <tr>
            <td nowrap="nowrap">
            <a href="https://ghc.haskell.org/trac/ghc/wiki/TeamGHC">The GHC Team</a></td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td nowrap="nowrap" class="lefthead">About Haskell</td>
      </tr>
      <tr>
        <td class="contents">
        <table class="contentstbl">
          <tr>
            <td><a href="http://haskell.org/">
            Haskell.Org</a></td>
          </tr>
          <tr>
            <td>
            <a href="http://www.haskell.org/haskellwiki/Definition">The
            Haskell 2010 Report</a></td>
          </tr>
          <tr>
            <td>
            <a href="http://www.haskell.org/haskellwiki/Mailing_lists">The
            Haskell Mailing List</a></td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td nowrap="nowrap" class="lefthead">Links</td>
      </tr>
      <tr>
	<td nowrap="nowrap" class="contents">
	  <table class="contentstbl">
       	     <tr>
       	       <td>
               <a href="http://hackage.haskell.org/platform/">Haskell Platform</a>
       	       </td>
       	     </tr>
       	     <tr>
       	       <td>
               <a href="http://hackage.haskell.org/">Hackage</a>
               </td>
       	     </tr>
           </table>
       	 </td>
       </tr>
    </table>
    </td>

	<td width="100%" class="rightpane">
